{% load static helpers %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>

{% include 'layouts/_meniu.html' %}

{% block content %}{% endblock %}


<!--//////////Abdug'affor/////////-->
<div class="container">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Get in touch</th>
            <th scope="col">Connections</th>
            <th scope="col">Earnings</th>
            <th scope="col">Account</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#" class="ssilka">About Us</a></td>
            <td><a href="#" class="ssilka">Facebook</a></td>
            <td><a href="#" class="ssilka">Become an Affiliate</a></td>
            <td><a href="#" class="ssilka">Your account</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Careers</a></td>
            <td><a href="#" class="ssilka">Twitter</a></td>
            <td><a href="#" class="ssilka">Advertice your product</a></td>
            <td><a href="#" class="ssilka">Returns Centre</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Press Releases</a></td>
            <td><a href="#" class="ssilka">Instagram</a></td>
            <td><a href="#" class="ssilka">Sell on Market</a></td>
            <td><a href="#" class="ssilka">100 % purchase protection</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Blog</a></td>
            <td><a href="#" class="ssilka">Youtube</a></td>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Chat with us</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Linkedln</a></td>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Help</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
    </div>
</div>
<!--//////////////////////////-->
<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

{% block body %}{% endblock %}

</body>
</html>