<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
<!--//////XumoyunX.html//////-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light x-navbar-light bg-light x-bg-light px-0">
        <a class="navbar-brand chat x-chat" href="#">Chat with us</a>
        <a class="navbar-brand x-nomer" href="#">+420 336 775 664</a>
        <a class="navbar-brand x-email" href="#">info@frenesecom.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"  style="margin-top: 15px; margin-left: 27rem" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav x-navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link x-nav-link" href="./blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link x-nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link x-nav-link" href="#">Career</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="border mt-2"></div>
</div>
<div class="container mt-lg-5">
    <div class="der row h-75 align-items-center">
        <div class="col-3">
            <a href="homepage.html">
                <img src="img/freshnescom.png" class="x-img" alt="#">
            </a>
        </div>
        <div class="col-lg-6 w-100 py-3 d-flex justify-content-start align-items-center border x-bordee" style="position: relative; color: #F9F9F9; height: 42px">
            <div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle x-knopka" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <span style="border-right:1px solid black; height:15px" class=""></span>
            <div class="w-100">
                <input type="text" class=" pl-2 w-100 ml-2 border-0" style="width: 10px; background: #F9F9F9" placeholder="Search Products, categories ...">
            </div>
            <a href="#" style="position: absolute; right: 20px; color: #151515"><i class="bi bi-search" ></i></a>
        </div>
        <div class="col-3">
            <div class="d-flex justify-content-lg-end p-1">
                <a href="#" class="d-block mr-3" style="color: rgba(0, 0, 0, 0.9);">
                    <i class="bi bi-person w-25" style="font-size: 20px"></i>
                </a>
                <a href="#">
                    <div style="position: relative;">
                        <div>
                            <i class="bi bi-basket3 align-content-end position-relative" style="font-size: 19px;color: rgba(0, 0, 0, 0.9)">
                                <span class="position-absolute text-center x-number">4</span>
                            </i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row border justify-content-lg-between w-100 mx-0 mt-5" style="background: #E5E5E5">
    <div class="container d-flex">

        <nav class="navbar navbar-expand-lg navbar-light x-navbar-light bg-light x-bg-light" style="background-color: #E5E5E5 !important; margin-left: -16px">
            <div class="row">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown" style="font-size: 15px">

                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Bakery
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fruit and vegetables
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Meat and fish
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Drinks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kitchen
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Special nutrition
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink6">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Baby
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink7">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pharmacy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink8">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </div>
            </div>
        </nav>

    </div>

</div>
<!--//////////////-->
<!--////////////Rahmatilla777////////-->
<div class="fruit"><b>Fruit and vegetables</b></div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="carousel-item active">
                <div class="img shadow-inset">
                    <span class="badge alert-success badge-pill">Tag</span>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <div class="form-row">
                        <div class=" row text text-left" style="margin-left: -48px">
                            <h3>This is a space for your blog headline, it can be long don’t worry about that</h3>
                            <img class="customer3 d-inline-block" src="img/customers3.png" width="32px" style="border-radius: 100px" alt="" >
                        </div>
                        <p>Author</p>
                        <p class="ml-3">17.6.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="carousel-item active">
                <div class="img shadow-inset">
                    <span class="badge alert-success badge-pill">Tag</span>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <div class="form-row">
                        <div class=" row text text-left"style="margin-left: -48px">
                            <h3>This is a space for your blog headline, it can be long don’t worry about that</h3>
                            <img class="customer3 d-inline-block" src="img/customers3.png" width="32px" style="border-radius: 100px" alt="" >
                        </div>
                        <p>Author</p>
                        <p class="ml-3">17.6.2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--////////////////////-->
<!--///////////Abdulaziz////////-->
<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <table class="table table-borderless" style="height: 210px">
                <thead>
                <tr>
                    <th scope="col" style="font-size: 20px">Category menu</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#" class="ssilka">Bakery</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Fruit and vegetables</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Meat and fish</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Drinks</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Drinks</a></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-borderless" style="height: 210px">
                <thead>
                <tr>
                    <th scope="col" style="font-size: 20px">Category menu</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#" class="ssilka">Bakery</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Fruit and vegetables</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Meat and fish</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Drinks</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="ssilka">Drinks</a></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-borderless" style="height: 210px">
                <thead>
                <tr>
                    <th scope="col" style="font-size: 20px">Join our list</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="#" class="ssilka">
                            Signup to be the first to hear about exclusive deals, special offers, recepies from our
                            masters and others.
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem; border-color: rgba(0, 0, 0, 0)">
                        <img src="img/blogs2.jpeg" class="card-img-top mb-0 al-image" alt="...">
                        <div class="card-body al">
                            <span class="badge badge-pill ml-0 al-vegetable">Vegetables</span>
                            <a href="blog-detail.html">
                                <p class="card-text al-vegetable-text">Which vegetable your family will love and want’s eat each day</p>
                            </a>
                            <p class="al-vegetable-author mt-3">Author <span>15.6.2020</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--///////////////////////////-->
<!--///////////Abdug'affor///////////-->
<div class="container">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Get in touch</th>
            <th scope="col">Connections</th>
            <th scope="col">Earnings</th>
            <th scope="col">Account</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#" class="ssilka">About Us</a></td>
            <td><a href="#" class="ssilka">Facebook</a></td>
            <td><a href="#" class="ssilka">Become an Affiliate</a></td>
            <td><a href="#" class="ssilka">Your account</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Careers</a></td>
            <td><a href="#" class="ssilka">Twitter</a></td>
            <td><a href="#" class="ssilka">Advertice your product</a></td>
            <td><a href="#" class="ssilka">Returns Centre</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Press Releases</a></td>
            <td><a href="#" class="ssilka">Instagram</a></td>
            <td><a href="#" class="ssilka">Sell on Market</a></td>
            <td><a href="#" class="ssilka">100 % purchase protection</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Blog</a></td>
            <td><a href="#" class="ssilka">Youtube</a></td>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Chat with us</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Linkedln</a></td>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Help</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
    </div>
</div>
<!--////////////////////////////-->


<script src="vendor/jquery.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>