<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/detail.css">
</head>
<!--//////XumoyunX.html//////-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light x-navbar-light bg-light x-bg-light px-0">
        <a class="navbar-brand chat x-chat" href="#">Chat with us</a>
        <a class="navbar-brand x-nomer" href="#">+420 336 775 664</a>
        <a class="navbar-brand x-email" href="#">info@frenesecom.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"  style="margin-top: 15px; margin-left: 27rem" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav x-navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link x-nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link x-nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link x-nav-link" href="#">Career</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="border mt-2"></div>
</div>
<div class="container mt-lg-5">
    <div class="der row h-75 align-items-center">
        <div class="col-3">
            <a href="homepage.html">
                <img src="img/freshnescom.png" class="x-img" alt="#">
            </a>
        </div>
        <div class="col-lg-6 w-100 py-3 d-flex justify-content-start align-items-center border x-bordee" style="position: relative; color: #F9F9F9; height: 42px">
            <div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle x-knopka" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <span style="border-right:1px solid black; height:15px" class=""></span>
            <div class="w-100">
                <input type="text" class=" pl-2 w-100 ml-2 border-0" style="width: 10px; background: #F9F9F9" placeholder="Search Products, categories ...">
            </div>
            <a href="#" style="position: absolute; right: 20px; color: #151515"><i class="bi bi-search" ></i></a>
        </div>
        <div class="col-3">
            <div class="d-flex justify-content-lg-end p-1">
                <a href="#" class="d-block mr-3" style="color: rgba(0, 0, 0, 0.9);">
                    <i class="bi bi-person w-25" style="font-size: 20px"></i>
                </a>
                <a href="#">
                    <div style="position: relative;">
                        <div>
                            <i class="bi bi-basket3 align-content-end position-relative" style="font-size: 19px;color: rgba(0, 0, 0, 0.9)">
                                <span class="position-absolute text-center x-number">4</span>
                            </i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row border justify-content-lg-between w-100 mx-0 mt-5" style="background: #E5E5E5">
    <div class="container d-flex">

        <nav class="navbar navbar-expand-lg navbar-light x-navbar-light bg-light x-bg-light" style="background-color: #E5E5E5 !important; margin-left: -16px">
            <div class="row">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown" style="font-size: 15px">

                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Bakery
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fruit and vegetables
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Meat and fish
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Drinks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kitchen
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Special nutrition
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink6">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Baby
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink7">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="list-style: none">
                        <a class="nav-link x-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pharmacy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink8">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </div>
            </div>
        </nav>

    </div>

</div>
<!--//////////////-->
<!--//////Jamshid/////////-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="img img-fluid rounded-lg d-block"></div>
            <div class="img1 img-fluid rounded-lg d-block mt-3"></div>
            <div class="img2 img-fluid rounded-lg d-block mt-3"></div>
        </div>

        <div class="col-lg-6">
            <p class="carrot">Carrots from Tomissy Farm</p>

            <div>
                <i style="color: var(--yellow);" class="bi bi-star-fill"></i>
                <i style="color: var(--yellow);" class="bi bi-star-fill"></i>
                <i style="color: var(--yellow);" class="bi bi-star-fill"></i>
                <i style="color: var(--yellow);" class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="customer" style="text-decoration-line: underline;">(1 customer review)</i>
            </div>

            <div class="text mt-4">
                Carrots from Tomissy Farm are one of the best on the market. Tomisso and his family are giving a full love to his Bio products. Tomisso’s carrots are growing on the fields naturally.
            </div>

            <div class="row mt-3">
                <div class="key col-2">
                    <p>SKU:</p>
                    <p>Category:</p>
                    <p>Stock:</p>
                    <p>Farm</p>
                </div>

                <div class="value col-4">
                    <p>76645</p>
                    <p style="text-decoration-line: underline;">Vegetables</p>
                    <p style="text-decoration-line: underline; color: green">In Stock</p>
                    <p>Grocery Tarm Fields</p>
                </div>

                <div class="key col-2">
                    <p>Freshness:</p>
                    <p>Buy by:</p>
                    <p>Delivery:</p>
                    <p>Delivery area</p>
                </div>

                <div class="value col-4">
                    <p>1 days old</p>
                    <p>pcs, kgs, box, pack</p>
                    <p>in 2 days</p>
                    <p>Czech republic</p>
                </div>
            </div>

            <div class="table mt-3">
                <div class="row d-flex align-items-center">
                    <div class="col-5">
                        <div class="price ml-2">
                            36.23 USD
                        </div>
                        <div class="price1 ml-2">
                            48.56 USD
                        </div>
                    </div>
                    <div class="pcs col-3">
                        <div class="col py-1 d-flex justify-content-start align-items-center">
                            <div style="margin-left: 10px">
                                <a href="#" style="color: grey;">1</a>
                            </div>
                            <span style="border-right:1px solid grey; height:15px; margin-left: 18px"></span>
                            <div>
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pcs
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">1</a>
                                    <a class="dropdown-item" href="#">2</a>
                                    <a class="dropdown-item" href="#">3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <a class="button btn btn-success" href="#" role="button">+ Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-5">
                    <i class="heart bi bi-suit-heart"></i>
                    <i class="txt"> Add to my wish list</i>
                    <div class="compare"></div>
                </div>
                <div class="col">
                    <i class="heart bi bi-view-stacked"></i>
                    <i class="txt"> Compare</i>
                </div>
            </div>

            <div class="col-12 pt-4">
                <ul class="nav" id="myTab" role="tablist">
                    <li class="nav-item col-4" role="presentation">
                        <a class="flex-sm-fill text-sm-center nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
                    </li>

                    <li class="nav-item col-4" role="presentation">
                        <a class="flex-sm-fill text-sm-center nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
                    </li>

                    <li class="nav-item col-4" role="presentation">
                        <a class="flex-sm-fill text-sm-center nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Questions</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div>
                            <p class="origin pt-4">Origins</p>
                            <div class="txt1">We work hard to ensure that the fruit and vegetables we sell are fresh and high in quality. If we don’t grow them ourselves, we source them from carefully chosen suppliers, preferring to buy locally whenever possible.</div>
                            <p class="origin pt-4">How to cook</p>
                            <div class="txt1">From roasts, salads and soups to casseroles and cakes, Carrots will lend sweetness, texture and colour to an enormous number of recipes.</div>
                            <p class="origin pt-4">Full vitamins</p>
                        </div>

                        <div class="vita row">
                            <div class="col-4 pt-4">
                                Vitamins
                            </div>
                            <div class="col-4 pt-4">
                                Quantity
                            </div>
                            <div class="col-4 pt-4">
                                %DV
                            </div>
                        </div>
                        <hr>

                        <div class="vitamin">
                            <div class="row">
                                <div class="col-4">
                                    Vitamin A equiv.
                                </div>
                                <div class="col-4">
                                    735 ug
                                </div>
                                <div class="col-4">
                                    104 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Thiamine (B1)
                                </div>
                                <div class="col-4">
                                    0.066 mg
                                </div>
                                <div class="col-4">
                                    6 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Niacin (B3)
                                </div>
                                <div class="col-4">
                                    0.983 mg
                                </div>
                                <div class="col-4">
                                    7 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Folate (Bg)
                                </div>
                                <div class="col-4">
                                    19 ug
                                </div>
                                <div class="col-4">
                                    5 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin C
                                </div>
                                <div class="col-4">
                                    5.9 mg
                                </div>
                                <div class="col-4">
                                    7 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin E
                                </div>
                                <div class="col-4">
                                    0.66 mg
                                </div>
                                <div class="col-4">
                                    4 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin K
                                </div>
                                <div class="col-4">
                                    13.2
                                </div>
                                <div class="col-4">
                                    13 %
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div>
                            <p class="origin pt-4">Origins 1</p>
                            <div class="txt1">We work hard to ensure that the fruit and vegetables we sell are fresh and high in quality. If we don’t grow them ourselves, we source them from carefully chosen suppliers, preferring to buy locally whenever possible.</div>
                            <p class="origin pt-4">How to cook</p>
                            <div class="txt1">From roasts, salads and soups to casseroles and cakes, Carrots will lend sweetness, texture and colour to an enormous number of recipes.</div>
                            <p class="origin pt-4">Full vitamins</p>
                        </div>
                        <div class="vita row">
                            <div class="col-4 pt-4">
                                Vitamins
                            </div>
                            <div class="col-4 pt-4">
                                Quantity
                            </div>
                            <div class="col-4 pt-4">
                                %DV
                            </div>
                        </div>
                        <hr>

                        <div class="vitamin">
                            <div class="row">
                                <div class="col-4">
                                    Vitamin A equiv.
                                </div>
                                <div class="col-4">
                                    735 ug
                                </div>
                                <div class="col-4">
                                    104 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Thiamine (B1)
                                </div>
                                <div class="col-4">
                                    0.066 mg
                                </div>
                                <div class="col-4">
                                    6 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Niacin (B3)
                                </div>
                                <div class="col-4">
                                    0.983 mg
                                </div>
                                <div class="col-4">
                                    7 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Folate (Bg)
                                </div>
                                <div class="col-4">
                                    19 ug
                                </div>
                                <div class="col-4">
                                    5 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin C
                                </div>
                                <div class="col-4">
                                    5.9 mg
                                </div>
                                <div class="col-4">
                                    7 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin E
                                </div>
                                <div class="col-4">
                                    0.66 mg
                                </div>
                                <div class="col-4">
                                    4 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin K
                                </div>
                                <div class="col-4">
                                    13.2
                                </div>
                                <div class="col-4">
                                    13 %
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div>
                            <p class="origin pt-4">Origins 2</p>
                            <div class="txt1">We work hard to ensure that the fruit and vegetables we sell are fresh and high in quality. If we don’t grow them ourselves, we source them from carefully chosen suppliers, preferring to buy locally whenever possible.</div>
                            <p class="origin pt-4">How to cook</p>
                            <div class="txt1">From roasts, salads and soups to casseroles and cakes, Carrots will lend sweetness, texture and colour to an enormous number of recipes.</div>
                            <p class="origin pt-4">Full vitamins</p>
                        </div>
                        <div class="vita row">
                            <div class="col-4 pt-4">
                                Vitamins
                            </div>
                            <div class="col-4 pt-4">
                                Quantity
                            </div>
                            <div class="col-4 pt-4">
                                %DV
                            </div>
                        </div>
                        <hr>

                        <div class="vitamin">
                            <div class="row">
                                <div class="col-4">
                                    Vitamin A equiv.
                                </div>
                                <div class="col-4">
                                    735 ug
                                </div>
                                <div class="col-4">
                                    104 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Thiamine (B1)
                                </div>
                                <div class="col-4">
                                    0.066 mg
                                </div>
                                <div class="col-4">
                                    6 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Niacin (B3)
                                </div>
                                <div class="col-4">
                                    0.983 mg
                                </div>
                                <div class="col-4">
                                    7 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Folate (Bg)
                                </div>
                                <div class="col-4">
                                    19 ug
                                </div>
                                <div class="col-4">
                                    5 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin C
                                </div>
                                <div class="col-4">
                                    5.9 mg
                                </div>
                                <div class="col-4">
                                    7 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin E
                                </div>
                                <div class="col-4">
                                    0.66 mg
                                </div>
                                <div class="col-4">
                                    4 %
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-4">
                                    Vitamin K
                                </div>
                                <div class="col-4">
                                    13.2
                                </div>
                                <div class="col-4">
                                    13 %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//////////////-->
<!--////////ulugbek-me.html////////-->
<div class="container">
    <div class="row">
        <div class="col-3 mb-5 mt-5">
            <span class="section-headline">Related products</span>
        </div>
        <div class="col-6"></div>
        <div class="col-3 mb-5 mt-5 d-flex">
            <span class="section-button ml-auto">More products <i class="bi bi-chevron-right font-weight-bold" style="color: var(--green)"></i></span>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <div class="border" style="border-radius: 12px">
                        <div class="wer">
                            <div class="sale text-center">-36%</div>
                        </div>
                        <div class="card-body">
                            <h6 class="product-title">Product title</h6>
                            <p class="description">Space for a small product description</p>
                            <div>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star" style="font-size: 13px; color: #D1D1D1"></i>
                            </div>
                            <p class="price d-block">36.99USD</p>
                            <div class="btn btn-success btn1">Buy now</div>
                            <del class="old-price ">48.56</del>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="border border2" style="border-radius: 12px">
                        <div class="wer">
                            <div class="sale text-center">-36%</div>
                        </div>
                        <div class="card-body">
                            <h6 class="product-title">Product title</h6>
                            <p class="description">Space for a small product description</p>
                            <div class="d-none">
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star" style="font-size: 13px; color: #D1D1D1"></i>
                            </div>
                            <p class="price d-block">36.99USD</p>
                            <div class="btn btn-success btn1">Buy now</div>
                            <del class="old-price ">48.56</del>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="border" style="border-radius: 12px">
                        <div class="wer">
                            <div class="sale text-center d-none">-36%</div>
                        </div>
                        <div class="card-body">
                            <h6 class="product-title">Product title</h6>
                            <p class="description">Space for a small product description</p>
                            <div>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star" style="font-size: 13px; color: #D1D1D1"></i>
                            </div>
                            <p class="price d-block">36.99USD</p>
                            <div class="btn btn-success btn1">Buy now</div>
                            <del class="old-price d-none">48.56</del>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="border" style="border-radius: 12px">
                        <div class="wer">
                            <div class="sale text-center">-36%</div>
                        </div>
                        <div class="card-body">
                            <h6 class="product-title">Product title</h6>
                            <p class="description">Space for a small product description</p>
                            <div>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star-fill" style="font-size: 13px"></i>
                                <i class="bi bi-star" style="font-size: 13px; color: #D1D1D1"></i>
                            </div>
                            <p class="price d-block">36.99USD</p>
                            <div class="btn btn-success btn1">Buy now</div>
                            <del class="old-price ">48.56</del>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--////////////////////////////-->
<!--/////////Abdug'affor////////////-->
<div class="container">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Get in touch</th>
            <th scope="col">Connections</th>
            <th scope="col">Earnings</th>
            <th scope="col">Account</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#" class="ssilka">About Us</a></td>
            <td><a href="#" class="ssilka">Facebook</a></td>
            <td><a href="#" class="ssilka">Become an Affiliate</a></td>
            <td><a href="#" class="ssilka">Your account</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Careers</a></td>
            <td><a href="#" class="ssilka">Twitter</a></td>
            <td><a href="#" class="ssilka">Advertice your product</a></td>
            <td><a href="#" class="ssilka">Returns Centre</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Press Releases</a></td>
            <td><a href="#" class="ssilka">Instagram</a></td>
            <td><a href="#" class="ssilka">Sell on Market</a></td>
            <td><a href="#" class="ssilka">100 % purchase protection</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka">Blog</a></td>
            <td><a href="#" class="ssilka">Youtube</a></td>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Chat with us</a></td>
        </tr>
        <tr>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Linkedln</a></td>
            <td><a href="#" class="ssilka"></a></td>
            <td><a href="#" class="ssilka">Help</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
        <span class="badge alert-dark badge-pill ml-2">Vegetables</span>
        <span class="badge alert-dark badge-pill ml-2">Fruit</span>
        <span class="badge alert-dark badge-pill ml-2">Fresh</span>
        <span class="badge alert-dark badge-pill ml-2">Tasty</span>
    </div>
</div>
<!--/////////////////////////////////-->


<script src="vendor/jquery.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>