{% load static %}
<!doctype html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ request.title|default:"Quyosh" }}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'main/main.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main:index' %}">ishop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#id_navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="id_navbar">
                <ul class="navbar-nav ml-auto">
                    {% if client.is_authenticated %}
                        <li class="nav-item{% if crn == "client:login" %} active{% endif %}">
                            <a class="nav-link" href="{% url 'client:login' %}">{{ client.clientname }}</a>
                        </li>
                    {% else %}
                    <li class="nav-item{% if crn == "client:registration" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'client:registration' %}">Royhattan o'tish</a>
                    </li>
                    <li class="nav-item{% if crn == "client:login" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'client:login' %}">Tizimga kirish</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container pt-4">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="{{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'vendor/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'main/main.js' %}"></script>
</body>
</html>
